In [2]:
import pandas as pd

In [3]:
#rutas de origen de los datos
ruta = "D:/Proyectos/Trazamatic/data/raw/clientes.csv"

In [4]:

#Pimera tabla de datos "clientes" 
clientes = pd.read_csv(ruta, sep=",", encoding="utf-8")
clientes.head()

,id_cliente,nombre_empresa,nit,direccion,ciudad,contacto_nombre,contacto_telefono,contacto_email
0,1,Aguilera-Priego,3357572351,"Ronda Calixta Rosales 21\nCiudad, 04828",Álava,Marisol Adadia Santana,+34726395628,tnogues@sans.com
1,2,Garriga LLC,8297897460,"Via Febe Gallo 105 Puerta 3 \nCádiz, 19459",Valladolid,Ascensión Manso Solera,+34735136965,luis-miguelporcel@yahoo.com
2,3,Jordán-Izquierdo,6734725844,Pasaje de Rosenda Barroso 36 Puerta 3 \nCórdob...,La Coruña,Amaro Villalba Lago,+34869 01 76 72,hvicens@hotmail.com
3,4,Peña Inc,1187335303,"Pasaje Isidoro Agudo 146\nCáceres, 59251",Guadalajara,Josefa Heredia-Bermudez,+34733403084,fidelabarros@poza.com
4,5,Galván PLC,2084355067,"Alameda Candela Amigó 409 Piso 9 \nBarcelona, ...",Zaragoza,Carmela Bosch Echevarría,+34713156572,auroravilla@hotmail.com

In [9]:
clientes.shape  # Muestra el número de filas y columnas
clientes.info()  # Muestra información sobre el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre_empresa     1500 non-null   object
 1   nit                1500 non-null   int64
 2   direccion          1500 non-null   object
 3   ciudad             1500 non-null   object
 4   contacto_nombre    1500 non-null   object
 5   contacto_telefono  1500 non-null   object
 6   contacto_email     1500 non-null   object
dtypes: int64(1), object(6)
memory usage: 82.2+ KB

In [7]:
#Eliminar columna id_cliente
clientes = clientes.drop(columns=['id_cliente'])

In [12]:
#renombrar columnas
clientes = clientes.rename(columns={'contacto_telefono': 'telefono',
                                   'contacto_email': 'email',
                                   'contacto_nombre': 'nombre_contacto',
                                   'contacto_apellido': 'apellido_contacto'})

In [13]:
#eliminar espacios en blanco en columna telefono
clientes['telefono'] = clientes['telefono'].str.strip()

In [16]:
#eliminar caracteres no numericos en columna telefono
clientes['telefono'] = clientes['telefono'].str.replace(r'\D', '', regex=True)

In [23]:
#consultas valores duplicados en columna email
clientes['email'].duplicated().sum()

#mostrar lo valores duplicados en columna email
clientes[clientes['email'].duplicated(keep=False)].sort_values(by='email')

,nombre_empresa,nit,direccion,ciudad,nombre_contacto,telefono,email
294,Guerrero Ltd,8711512142,"C. Aurora Pina 419\nAlmería, 62030",Ávila,Juana Rey Mariscal,34948375594,jvilalta@yahoo.com
955,"Correa, Santos and Pizarro",7258493641,Rambla de Ciríaco Sedano 8 Apt. 08 \nLas Palma...,Vizcaya,Carmelo Sarabia-Cárdenas,34849870295,jvilalta@yahoo.com

In [24]:
#cambiar el correo electronico de la fila 955
clientes.at[955, 'email'] = 'jvilalta2@yahoo.com'

In [27]:

#guardar el dataframe limpio en un nuevo archivo csv
clientes.to_csv("D:/Proyectos/Trazamatic/data/processed/clientes_limpio.csv", index=False, encoding="utf-8")