In [2]:
import pandas as pd

In [3]:
#rutas de origen de los datos
ruta = "D:/Proyectos/Trazamatic/data/raw/clientes.csv"

In [4]:

#Pimera tabla de datos "clientes" 
clientes = pd.read_csv(ruta, sep=",", encoding="utf-8")
clientes.head()

,id_cliente,nombre_empresa,nit,direccion,ciudad,contacto_nombre,contacto_telefono,contacto_email
0,1,Aguilera-Priego,3357572351,"Ronda Calixta Rosales 21\nCiudad, 04828",Álava,Marisol Adadia Santana,+34726395628,tnogues@sans.com
1,2,Garriga LLC,8297897460,"Via Febe Gallo 105 Puerta 3 \nCádiz, 19459",Valladolid,Ascensión Manso Solera,+34735136965,luis-miguelporcel@yahoo.com
2,3,Jordán-Izquierdo,6734725844,Pasaje de Rosenda Barroso 36 Puerta 3 \nCórdob...,La Coruña,Amaro Villalba Lago,+34869 01 76 72,hvicens@hotmail.com
3,4,Peña Inc,1187335303,"Pasaje Isidoro Agudo 146\nCáceres, 59251",Guadalajara,Josefa Heredia-Bermudez,+34733403084,fidelabarros@poza.com
4,5,Galván PLC,2084355067,"Alameda Candela Amigó 409 Piso 9 \nBarcelona, ...",Zaragoza,Carmela Bosch Echevarría,+34713156572,auroravilla@hotmail.com

In [6]:
clientes.shape  # Muestra el número de filas y columnas
clientes.info()  # Muestra información sobre el DataFrame
clientes.describe()  # Muestra estadísticas descriptivas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_cliente         1500 non-null   int64
 1   nombre_empresa     1500 non-null   object
 2   nit                1500 non-null   int64
 3   direccion          1500 non-null   object
 4   ciudad             1500 non-null   object
 5   contacto_nombre    1500 non-null   object
 6   contacto_telefono  1500 non-null   object
 7   contacto_email     1500 non-null   object
dtypes: int64(2), object(6)
memory usage: 93.9+ KB

        id_cliente           nit
count  1500.000000  1.500000e+03
mean    750.500000  5.139817e+09
std     433.157015  2.866010e+09
min       1.000000  5.135369e+06
25%     375.750000  2.670342e+09
50%     750.500000  5.187104e+09
75%    1125.250000  7.583787e+09
max    1500.000000  9.998072e+09

In [7]:
#Eliminar columna id_cliente
clientes = clientes.drop(columns=['id_cliente'])

In [8]:
clientes.head()

,nombre_empresa,nit,direccion,ciudad,contacto_nombre,contacto_telefono,contacto_email
0,Aguilera-Priego,3357572351,"Ronda Calixta Rosales 21\nCiudad, 04828",Álava,Marisol Adadia Santana,+34726395628,tnogues@sans.com
1,Garriga LLC,8297897460,"Via Febe Gallo 105 Puerta 3 \nCádiz, 19459",Valladolid,Ascensión Manso Solera,+34735136965,luis-miguelporcel@yahoo.com
2,Jordán-Izquierdo,6734725844,Pasaje de Rosenda Barroso 36 Puerta 3 \nCórdob...,La Coruña,Amaro Villalba Lago,+34869 01 76 72,hvicens@hotmail.com
3,Peña Inc,1187335303,"Pasaje Isidoro Agudo 146\nCáceres, 59251",Guadalajara,Josefa Heredia-Bermudez,+34733403084,fidelabarros@poza.com
4,Galván PLC,2084355067,"Alameda Candela Amigó 409 Piso 9 \nBarcelona, ...",Zaragoza,Carmela Bosch Echevarría,+34713156572,auroravilla@hotmail.com